extends ../page-layout
include ../mixins

block page
  h2 CSS #{pageName}
  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../switch.css">'
    li
      | 一个元素:
      code.inline= '<input class="ppz-ccs switch" type="checkbox">'

  p 最简案例：
  +demo(demos[''])
  
  h3 慢一点，大一点
  p
    | 传入“参数”
    code.inline font-size
    | 和
    code.inline ani-duration
  +demo(demos['-big-and-slow'])
