@import url('./variables.css');

:root {
  color: var(--ppz-ccs-color-fore);
  background-color: var(--ppz-ccs-color-back);
}

.ppz-ccs label, label.ppz-ccs {
  display: block;
}
.ppz-ccs input, input.ppz-ccs {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
