@import url('./base.css');

.ppz-ccs.switch {
  /* customizable */
  --background-color-off: hsla(var(--color-fore-base), .1);
  --background-color-on: var(--color-success);

  --height: calc(2 * var(--font-size));
  --ratio: .618;
  --control-height-ratio: .76;
  --control-color: #fff;

  /* calculated, but customizable(not suggested) */
  --width: calc(var(--height) / var(--ratio));
  --control-height: calc(var(--height) * var(--control-height-ratio));
  --control-margin: calc(calc(var(--height) - var(--control-height)) / 2);
  --control-box-shadow: 0 0 var(--control-margin) hsla(var(--color-fore-base), .2);

  position: relative;
  cursor: pointer;
  visibility: hidden;
  height: var(--height);
  width: var(--width);
}

.ppz-ccs.switch::before {
  content: '';
  display: block;
  visibility: visible;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: calc(var(--height) / 2);
  background-color: var(--background-color-off);
  transition: var(--ani-duration) background-color;
}
.ppz-ccs.switch:checked::before {
  background-color: var(--background-color-on);
}

.ppz-ccs.switch::after {
  content: '';
  display: block;
  visibility: visible;

  transition: var(--ani-duration) transform;
  position: absolute;
  top: var(--control-margin);
  left: var(--control-margin);
  border-radius: 50%;
  height: var(--control-height);
  width: var(--control-height);
  background: var(--control-color);
  box-shadow: var(--control-box-shadow);
}
.ppz-ccs.switch:checked::after {
  transform: translate(calc(calc(calc(1 / var(--ratio)) - 1) * var(--height)), 0);
}
