extends ../../demo-layout.pug

block head
  title CCS .switch
  link(rel='stylesheet' href=references.switch)
  style.
    .ppz-ccs.switch {
      --height: 100px;
      --ani-duration: 2s;
    }
block body
  input.ppz-ccs.switch(type='checkbox')
