@import 'src/style/base'

/* reset */
html, body
  padding: 0
  margin: 0

html
  line-height: 1
h1, h2, h3, h4
  margin: 0
  padding: 0
code.inline
  white-space: pre-wrap
  margin: 0 Size(.5)
  padding: 0 Size(.5)
  background: ColorFore(.02);

/* ppz style */
body
  height: 100vh
  display: flex
  & > .menu-drawer
    --width: Size(16) !important
    .menu-icon-wrapper
      padding: $size
      cursor: pointer
      opacity: .6
      &:hover
        opacity: 1
    
    .menu-view
      --padding: $size
      background: ColorFore(.01)
      box-sizing: border-box
      h1
        padding: var(--padding)
        font-size: $size
        font-weight: bold
        a
          color: ColorFore()
          text-decoration: none

      menu
        padding: 0
        margin: 0
        border-top: 1px solid ColorFore(.04)
        li
          list-style: none
          a
            display: block
            color: ColorFore(.6)
            @media (prefers-color-scheme: dark)
              color: ColorFore(.8)

            transition: all var(--ani-duration);
            padding: var(--padding);
            text-decoration: none
            &::before
              content: '>'
              margin: 0 $size 0 Size(.15)
          a:hover // :not(:local-link)
            // 所有浏览器未支持 :local-link https://developer.mozilla.org/en-US/docs/Web/CSS/:local-link
            color: ColorFore()
            background: ColorFore(.04)

  & > main
    flex: 1
    max-height: 100%
    box-sizing: border-box
    overflow: auto
    padding: 0 Size(3) Size(5)
    // css router
    .page
      max-width: 800px
      margin: 0 auto
      display: none
      &:target
        display: block
    &:not(:has(.page:target)) // 不存在选中的 .page 时
      .page:first-child
        display: block
