Size($ratio = 1)
  'calc(%s * %s)' % ($size $ratio)

ColorFore($ratio = 1)
  'hsla(%s, %s, %s, %s)' % (var(--ppz-ccs-color-fore-h) var(--ppz-ccs-color-fore-s) var(--ppz-ccs-color-fore-l) $ratio)
ColorBack($ratio = 1)
  'hsla(%s, %s, %s, %s)' % (var(--ppz-ccs-color-back-h) var(--ppz-ccs-color-back-s) var(--ppz-ccs-color-back-l) $ratio)
ColorLink($ratio = 1)
  'hsla(%s, %s, %s, %s)' % (var(--ppz-ccs-color-link-h) var(--ppz-ccs-color-link-s) var(--ppz-ccs-color-link-l) $ratio)

$size = var(--ppz-ccs-font-size)

mobile()
  @media (max-width: 500px)
    {block}

pc()
  @media (min-width: 500px)
    {block}
