@import 'src/style/base'

.page
  // h2: 页面标题，一个页面只有一个
  // h3: 页面内一级模块标题
  // h4: 页面内二级模块标题
  h2
    padding-top: Size(3)
    font-weight: normal
    font-size: Size(2)
  h4
    font-size: Size()
    font-weight: bold
  h2, h3, h4
    margin-bottom: .8em
  h3, h4
    margin-top: Size(2)
  h2 + h3, h3 + h4
    margin-top: 0
  p
    margin: $size 0
    line-height: 1.8
    span
      display: block
  a.link
    color: ColorLink()
    text-decoration: none
  ul
    padding: 0
    margin: 0
    li
      list-style: none
      padding-left: Size(.5)
      line-height: Size(2)
      +pc()
        display: flex
        align-items: flex-start
      &::before
        content: ''
        display: inline-block
        margin-top: Size(.75)
        margin-right: Size(.5)
        width: Size(.4)
        height: Size(.4)
        border-radius: 50%
        background: ColorFore()
        opacity: .7
      &:hover::before
        opacity: 1

  code
    font-size: Size(.9)
  code.inline
    white-space: pre-wrap
    margin: 0 Size(.5)
    padding: 0 Size(.5)
    line-height: inherit
    background: ColorFore(.02);
    color: ColorFore()
  
  li:has(code) + li:has(code) // 两个含有 code 的 li 的间距
    margin-top: Size(.2)
  li code
    line-height: Size(1.5) !important
    padding-top: Size(.25) !important
    padding-bottom: Size(.25) !important
    +mobile()
      display: block
  pre
    background: ColorFore(.02);
    margin: Size(.6) 0
    max-width: 100%
    overflow: auto
    code
      display: block
      padding: $size Size(1.4)
      line-height: 1.5
  .demo-wrapper
    margin: $size 0
    .header
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: $size
    iframe
      width: 100%
      margin: 0
      height: Size(16)
      outline: none
      border: none
      box-shadow: 0 0 $size ColorFore(.1)
  
  .footer
    margin-top: Size(3)
    display: flex
    justify-content: space-between
