@import 'src/style/base'

.page
  // h2: 页面标题，一个页面只有一个
  // h3: 页面内一级模块标题
  // h4: 页面内二级模块标题
  h2
    padding-top: Size(3)
    font-weight: normal
    font-size: Size(2)
  h4
    font-size: Size()
    font-weight: bold
  h2, h3, h4
    margin-bottom: Size(.8)
  h3, h4
    margin-top: Size(2)
  h2 + h3, h3 + h4
    margin-top: 0
  p
    margin: $size 0
    line-height: Size(2)
    span
      display: block
  a.link
    color: ColorLink()
    text-decoration: none
  ul
    padding: 0
    margin: 0
    li
      list-style: none
      padding-left: Size(.5)
      display: flex
      align-items: center
      line-height: 2
      &::before
        content: ''
        display: inline-block
        margin-right: Size(.5)
        width: Size(.4)
        height: Size(.4)
        border-radius: 50%
        background: ColorFore()
        opacity: .7
      &:hover::before
        opacity: 1

  pre
    background: ColorFore(.02);
    margin: $size 0
    code
      display: block
      padding: $size Size(1.4)
      line-height: 1.5
  .demo-wrapper
    margin: $size 0
    .header
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: $size
    iframe
      width: 100%
      margin: 0
      height: Size(16)
      outline: none
      border: none
      box-shadow: 0 0 $size ColorFore(.1)
  
  .footer
    margin-top: Size(3)
    display: flex
    justify-content: space-between
