/* reset */
html, body
  padding: 0
  margin: 0
html
  line-height: 1
h1, h2, h3
  margin: 0
  padding: 0

/* ppz style */
body
  height: 100vh
  display: flex
  & > .menu-drawer
    .menu-icon-wrapper
      padding: 1em
      cursor: pointer
    .menu-view
      padding: 1em
      box-sizing: border-box
      background: "hsla(var(--ppz-ccs-color-fore-base), .06)" % 1
      h1
        font-size: inherit
        font-weight: bold

  & > main
    flex: 1
    height: 100%
    overflow: auto
