extends ../../demo-layout.pug

block head
  title CCS .menu-icon
  link(rel='stylesheet' href=references.menuIcon)
  style.
    .ppz-ccs.menu-icon {
      --size: 100px;
      --ani-duration: 2s;
    }
block body
  label.ppz-ccs.menu-icon
    input(type='checkbox')
