extends ../page-layout
include ../mixins

block page
  h2 CSS #{pageName}

  p 当我发现仅用 4 行 CSS 就能实现一个“路由”，也是大吃一惊！就是下面这四行：
  pre
    code= config.code.source

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../router.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简案例：
  +demo(demos[''])
