/* reset */
html, body
  padding: 0
  margin: 0
html
  line-height: 1
h1, h2, h3, h4
  margin: 0
  padding: 0
code.inline
  white-space: pre-wrap
  margin: 0 .5em
  padding: 0 .5em
@css {
  code {
    background: hsla(var(--ppz-ccs-color-fore-base), calc(var(--ppz-ccs-color-ratio) * .02));
  }
}
/* ppz style */
body
  height: 100vh
  display: flex
  & > .menu-drawer
    --width: 16em !important
    .menu-icon-wrapper
      padding: 1em
      cursor: pointer
      opacity: .6
      &:hover
        opacity: 1
    
    @css {
      .menu-view {
        background: hsla(var(--ppz-ccs-color-fore-base), calc(var(--ppz-ccs-color-ratio) * .01));
      }
    }
    .menu-view
      --padding: 1em
      box-sizing: border-box
      h1
        padding: var(--padding)
        font-size: inherit
        font-weight: bold
        a
          color: inherit
          text-decoration: none
      @css {
        menu {
          border-top: 1px solid hsla(var(--ppz-ccs-color-fore-base), calc(.04 * var(--ppz-ccs-color-ratio)))
        }
      }
      menu
        padding: 0
        margin: 0
        li
          list-style: none
          a
            display: block
            color: "hsla(var(--ppz-ccs-color-fore-base), .6)" % 1
            @media (prefers-color-scheme: dark)
              color: "hsla(var(--ppz-ccs-color-fore-base), .8)" % 1

            transition: all var(--ani-duration);
            padding: var(--padding);
            text-decoration: none
            &::before
              content: '>'
              margin: 0 1em 0 .15em
          a:hover // :not(:local-link)
            // 所有浏览器未支持 :local-link https://developer.mozilla.org/en-US/docs/Web/CSS/:local-link
            color: "hsla(var(--ppz-ccs-color-fore-base), 1)" % 1
            background: "hsla(var(--ppz-ccs-color-fore-base), .04)" % 1

  & > main
    flex: 1
    max-height: 100%
    box-sizing: border-box
    overflow: auto
    padding: 0 3em 5em
    // css router
    .page
      max-width: 800px
      margin: 0 auto
      display: none
      &:target
        display: block
    &:not(:has(.page:target)) // 不存在选中的 .page 时
      .page:first-child
        display: block
