doctype html
html(lang = 'en')
  head
    title CCS Tutorial
    meta(name = 'viewport' content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset = 'utf8')
    link(rel = 'stylesheet' href = references.menuDrawer)
    link(rel = 'stylesheet' href = references.dark)
    style !{style}

  body
    .ppz-ccs.menu-drawer
      label.menu-icon-wrapper
        label.ppz-ccs.menu-icon
          input(type = 'checkbox')
      .ppz-ccs.menu-view
        h1
          a(href='https://github.com/ppz-pro/css-components') CCS Tutorial
        menu
          each page in pages
            - let { config: { isComponent, name }, id, pageName } = page
            li
              a(href = '#' + id)= isComponent ? pageName : name
    main
      each page in pages
        .page(id = page.id) !{page.html()}