extends ../page-layout
include ../mixins

block page
  h2 CSS #{pageName}

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../menu-drawer.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简案例：
  +demo(demos[''])

  h3 来点参数
  +demo(demos['-params'])
