extends ../page-layout
include ../mixins

block page
  h2 CSS #{pageName}

  h3 基本用法
  ul
    li
      | 引入 css:
      code.inline= '<link rel="stylesheet" href=".../menu-drawer.css">'
    li
      | 一些 html:
      code.inline= config.code.basic
  
  p 最简案例：
  +demo(demos[''])

  h3 来点参数
  +demo(demos['-params'])
  p 这个案例中，各部件的动画持续时间是需要“分开”设置的，为什么不在一处设置，然后对全体（或子元素们）生效呢？
  p
    | 答：类似 .menu-drawer 这类“容器元素”（也就是说 .menu-drawer 里面存在其他元素），
    | 如果变量“对全体或子元素”生效，那将可能导致“对容器设置的参数”污染到“容器内的元素”。
    | 比如，也许你可能只想让菜单展开得慢一点，其他元素的动画速度，保持原速度。