@import url('../base.css');

.ppz-ccs.menu-icon {
  --size: 1em;
  --line-width: 2px;
  --color: hsl(var(--ppz-ccs-color-fore-base), .6);
  --color-hover: hsl(var(--ppz-ccs-color-fore-base), .8);

  height: var(--size);
  width: var(--size);
  position: relative;
  visibility: hidden;
}

.ppz-ccs.menu-icon::before {
  content: '';
  display: block;

  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  border-bottom: var(--line-width) solid var(--color);
  border-top: var(--line-width) solid var(--color);
}

.ppz-ccs.menu-icon::after {
  content: '';
  display: block;

  visibility: visible;
  position: absolute;
  top: calc(50% - calc(var(--line-width) / 2));
  width: 100%;
  height: var(--line-width);

  background-color: var(--color);
}