@import url('../base.css');

.ppz-ccs.menu-icon {
  --size: 1em;
  --line-width: 2px;
  --line-width-close: 1px; /* 变量写在这里，而非... */
  --color: currentColor;

  --line-width-half: calc(var(--line-width) / 2);

  height: var(--size);
  width: var(--size);
  position: relative;
}
.ppz-ccs.menu-icon:has(:checked) {
  --line-width: var(--line-width-close); /* ...这里，是因为方便“使用者”写变量，而且 --line-width 相关联的变量，也能自动计算 */
}

.ppz-ccs.menu-icon > input {
  visibility: hidden;
}

/* 三条线 */
.ppz-ccs.menu-icon::before, .ppz-ccs.menu-icon::after, .ppz-ccs.menu-icon > input::before {
  content: '';
  display: block;
  position: absolute;
  transition: all var(--ppz-ccs-ani-duration);
  left: 0;
  width: 100%;
  height: var(--line-width);
  border-radius: var(--line-width-half);
  background: var(--color);
}
/* 中线: input::before */
.ppz-ccs.menu-icon > input::before {
  visibility: visible;
  top: calc(50% - var(--line-width-half));
}

/* 上线: unchecked label::before */
.ppz-ccs.menu-icon:has(:not(:checked))::before {
  top: 0;
}
/* 下线: unchecked label::after */
.ppz-ccs.menu-icon:has(:not(:checked))::after {
  bottom: 0;
}

/* 上线: checked label::before */
.ppz-ccs.menu-icon:has(:checked)::before {
  top: calc(50% - var(--line-width-half));
  transform: rotate(-45deg);
}
/* 下线: checked label::after */
.ppz-ccs.menu-icon:has(:checked)::after {
  bottom: calc(50% - var(--line-width-half));
  transform: rotate(45deg);
}
/* 中线: checked input::before */
.ppz-ccs.menu-icon > input:checked::before {
  opacity: 0;
}