extends ../page-layout
include ../mixins

block page
  h2 CSS Components
  a(href='https://github.com/ppz-pro/css-components/blob/main/LICENSE')
    img(title='license' src='https://img.shields.io/github/license/ppz-pro/css-components')
  span  
  a(href='https://github.com/ppz-pro/css-components/releases')
    img(title='license' src='https://img.shields.io/github/release/ppz-pro/css-components')

  p <b>C</b>ss-<b>C</b>omponent<b>S</b> 是一个纯 css 的组件库，目前只有四个组件：
  ul
    li
      a.link(href='#switch') .switch
    li
      a.link(href='#menu-icon') .menu-icon
    li
      a.link(href='#menu-drawer') .menu-drawer
    li
      a.link(href='#router') .router

  p
    | 强调“纯 css”，小部分原因是“没有 js 的介入，逻辑将变得相当简单，js 就能更加关注业务”。
    | 但不得不说，这个库只适合“少数人”。而“少数人”在中文里，并不是个好词，这里就是那个意思。
    | 因为做这个库的主要原因是“好玩”。毕竟编程既是工作，也是生活，生活很枯燥，我得自己找乐子。
    | 当然，我的乐子不一定是你的乐子，所以这个库真的只属于我这种“少数人”。

  h4 使用 npm 安装
  pre
    code npm install @ppzp/css-components

  p 然后，在你的代码里可以这样加载 switch 组件：
  pre
    code import '@ppzp/css-components/switch.css'

  h4
    | 或者，直接从 
    a.link(href=references.root) CDN
    |  加载，像这样：
  
  +demo(demos['-load-from-cdn'])
