extends ../../demo-layout.pug

block head
  title switch
  link(rel='stylesheet' href='https://unpkg.com/@ppzp/css-components@0.0.1/switch/index.css')
block body
  input.ppz-ccs.switch(type='checkbox')
