extends ../../demo-layout.pug

block head
  title CCS .menu-drawer
  link(rel='stylesheet' href=references.menuDrawer)
block body
  .ppz-ccs.menu-drawer
    label.ppz-ccs.menu-icon
      input(type='checkbox')
    .ppz-ccs.menu-view 菜单内容区
